/*
Site: Assistir séries
Backend e Frontend: Marcielli Oliveira;
*/

/* Configuração geral */
body {
    background-color: white;
}

h1 {
    color: #33cc33;
}

.btn {
    background-color: white;
    color: #33cc33;
    font-weight: bold;
    border: 1px solid #33cc33;
}

.btn:hover {
    background-color: #33cc33;
    color: white;
    font-weight: white;
}

.form-group .form-control {
    background-color: white;
    border: 1px solid #33cc33;    
}

#rowCentro {
   display: flex;
    align-items: center;
    padding-top: 30px;
}


/* Topo */
.container-fluid .linha {
    border-top: 1px solid #33cc33;
}

/* Menu */
.container-fluid .navbar {
    margin-top: 10px;
    margin-bottom: -5px;
    background-color: #33cc33;
    color: white;
}

.container-fluid .navbar .navbar-brand {
    color: white;
}

.container-fluid .navbar li a{
     color: white;
}

.container-fluid .navbar li a:hover {
    color: #248f24;
    font-weight: bold;
}

.container-fluid .navbar-header img {
    margin-top: -1%;
    max-width: 22%;
}


/* Formulário Cadastro */
label {
    color: #248f24;
}

/* Dados do Início */
.container-fluid .mostrarInicio li {
    color: #33cc33;   
    font-size: 130%;
}

.img-circle {
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Rodape */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 10px;
    color: black;
}

.footer .linha {
	border-top: 1px solid #33cc33;
}

.footer p {
    color: #33cc33;
    font-weight: bold;
}


/*
Cores

https://www.w3schools.com/colors/colors_picker.asp

*/