/*
Site: Assistir séries
Backend e Frontend: Marcielli Oliveira;
*/

/* Configuração geral */
body {
    background-color: white;
}

h1 {
    color: #33cc33;
}

.btn {
    background-color: white;
    color: #33cc33;
    font-weight: bold;
    border: 1px solid #33cc33;
}

.btn:hover {
    background-color: #33cc33;
    color: white;
    font-weight: white;
}

.form-group .form-control {
    background-color: white;
    border: 1px solid #33cc33;    
}

#rowCentro {
   display: flex;
    align-items: center;
    padding-top: 30px;
}


/* Topo */
.container-fluid .linha {
    border-top: 1px solid #33cc33;
}

/* Menu */
.container-fluid .navbar {
    margin-top: 10px;
    margin-bottom: -5px;
    background-color: #33cc33;
    color: white;
}

.container-fluid .navbar .navbar-brand {
    color: white;
}

.container-fluid .navbar li a{
     color: white;
     font-weight: bold;
}

.container-fluid .navbar li a:hover {
    color: #248f24;
    font-weight: bold;
}

.container-fluid .navbar-header img {
    margin-top: -1%;
    max-width: 22%;
}

.navbar-nav.navbar-center {
    /* Menu centralizado */
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


/* Formulário Cadastro */
label {
    color: #248f24;
}

/* Dados do Início */
.container-fluid .mostrarInicio li {
    color: #33cc33;   
    font-size: 130%;
}

.img-circle {
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Rodape */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 10px;
    color: black;
}

.footer .linha {
	border-top: 1px solid #33cc33;
}

.footer p {
    color: #33cc33;
    font-weight: bold;
}

/* Página Inicial */

.row #perfil {
    border: 1px solid #33cc33;
    background-color: white;   
}

.row #perfil .jumbotron {
    background-color: white;
    margin-bottom: -15%;
}

.row #perfil #editarPerfil {
    margin-bottom: 5%;
}

.row #perfil img {
    float: left;
    max-width: 40%;
    margin-left: -20%;
    margin-top: -12%;

}

.row #perfil a {
    color: black;
}

.row #perfil a:hover {
    color: #33cc33;
}

.row #perfil a h4{
    padding-left: 30%;

}


/* Perfil */
#uploadfile {
  display: none;
}

.profile-img-container img:hover {
    opacity: 0.5;
    z-index: 501;
}

.profile-img-container img:hover + i {
    display: block;
    z-index: 500;
}

/* Feed */




/* Series */
.container-fluid #series .list-group-item {
    background-color: white;
    border: 1px solid #33cc33;
    color: #33cc33;
}

.container-fluid #series .list-group-item:hover {
    background-color: #33cc33;
    color: white;
}

.container-fluid #series #btn {
    background-color: #33cc33;
    color: white;
    border-top: 1px solid #d6f5d6;
}

.container-fluid #series #btn:hover {
    background-color: #d6f5d6;
    border: 1px solid #33cc33;
    color: #33cc33;
}



/*
Cores

https://www.w3schools.com/colors/colors_picker.asp

*/

