/*
Site: Assistir séries
Backend e Frontend: Marcielli Oliveira;

Paleta: 
Cinza: #F2F2F2
Preto: #2F2F2F
Azul médio: #375A7F
Azul escuro: #1F487E
Azul claro: 5D98D8


*/


/* Configuração geral */
::-moz-selection{
background:#1F487E;
color: white;
}
::selection {
background:#1F487E;
color: white;
}

body {
    background-color: white;

}

h1 {
    color: #1F487E;
}

.btn {
    background-color: white;
    color: #1F487E;
    font-weight: bold;
    border: 1px solid #1F487E;
}

.btn:hover {
    background-color: #5D98D8;
    color: white;
    font-weight: white;
}

.form-group .form-control {
    background-color: white;
    border: 1px solid #375A7F;    
}

#rowCentro {   
    align-items: center;
    padding-top: 30px;
}


/* Topo */
.container-fluid .linha {
    border-top: 1px solid #375A7F;
}

/* Menu */
.container-fluid .navbar {
    margin-top: 10px;
    margin-bottom: -5px;
    background-color:#1F487E;
    color: white;
}

.container-fluid .navbar .navbar-brand {
    color: white;
}

.container-fluid .navbar li a{
     color: white;
     font-weight: bold;
}

.container-fluid .navbar li a:hover {
    color: #5D98D8;
    font-weight: bold;
}

.container-fluid .navbar-header img {
    margin-top: -1%;
    max-width: 22%;
}

.navbar-nav.navbar-center {
    /* Menu centralizado */
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


/* Formulário Cadastro */
label {
    color: #375A7F;
}

/* Dados do Início */
.container-fluid .mostrarInicio li {
    color: #1F487E;   
    font-size: 130%;
}

.img-circle {
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Rodape */
.footer {
    background-color: white;   
     
}

.footer p {
    color: #1F487E;
    text-align: center;
    font-weight: bold;
}

/* Página Inicial */


.row #perfil {
    background-color: white;
    margin-bottom: -15%;
    border: 1px solid  #1F487E;

}

.row #perfil #editarPerfil {
   margin-top: 5%;
}

div#perfil.col-sm-3 img{
    float: left;
    max-width: 40%;
    padding-top: 5%;
}

.row #perfil a {
    color: black;
}

.row #perfil a:hover {
    color:  #1F487E;
}

.row #perfil a h4{
    padding-left: 45%;
    padding-top: 35%;

}


/* Perfil */
#perfil div.list-group h4{
   text-align: center;
    color: #1F487E;
}

#perfil .list-group-item {
    background-color: white;
    border: 1px solid #1F487E;
    color:  #1F487E;
}


/* Feed */




/* Series */
.container-fluid #series .list-group-item {
    background-color: white;
    border: 1px solid #1F487E;
    color:  #1F487E;
}

.container-fluid #series .list-group-item:hover {
    background-color: #375A7F;
    color: white;
}

.container-fluid #series #btn {
    background-color: #375A7F;
    color: white;
    border-top: 1px solid #5D98D8;
}

.container-fluid #series #btn:hover {
    background-color: #5D98D8;
    border: 1px solid #375A7F;
    color: white;
}



/*
Cores

https://www.w3schools.com/colors/colors_picker.asp

*/

