/*
Site: Assistir séries
Backend e Frontend: Marcielli Oliveira;

Paleta: 
Cinza: #F2F2F2
Preto: #2F2F2F
Azul médio: #375A7F
Azul escuro: #1F487E
Azul claro: 5D98D8;


*/


/* Configuração geral */
::-moz-selection{
    background:#1F487E;
    color: white;
}
::selection {
    background:#1F487E;
    color: white;
}

body {
    background-color: white;

}

h1 {
    color: #1F487E;
}

.btn {
    background-color: white;
    color: #1F487E;
    font-weight: bold;
    border: 1px solid #1F487E;
}

.btn:hover {
    background-color: #5D98D8;
    color: white;
    font-weight: white;
}

.form-group .form-control {
    background-color: white;
    border: 1px solid #375A7F;    
}

#rowCentro {   
    align-items: center;
   /* padding-top: 30px;*/
    margin-top: 5%;
}


/* Topo */

/* Menu */
.navbar {
    background-color:#1F487E;
    color: white;
}

.navbar .navbar-brand {
    color: white;
}

ul.nav.navbar-nav li a{
    color: white;
    font-weight: bold;
}

ul.nav.navbar-nav li a:hover {
   color: #5D98D8;
   font-weight: bold;
}

.navbar-header img {
    margin-top: -1%;
    max-width: 22%;
}

.navbar-nav.navbar-center {
    /* Menu centralizado */
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


/* Formulário Cadastro */
label {
    color: #375A7F;
}

/* Dados do Início */
.container-fluid .mostrarInicio li {
    color: #1F487E;   
    font-size: 130%;
}

.container-fluid img.img-circle {
    float: none;
    max-width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

/* Rodape */
.footer {
    background-color: white;   

}

.footer p {
    color: #1F487E;
    text-align: center;
    font-weight: bold;
}

/* Página Inicial */


.row #perfil {
    background-color: white;
    margin-bottom: -15%;
    border: 1px solid  #1F487E;

}

.container-fluid #topo {
    margin-top: 2%;
}

.row #perfil #editarPerfil {
 margin-top: 5%;
}

div#perfil.col-sm-3 img{
    float: left;
    max-width: 40%;
    padding-top: 5%;
}

.row #perfil a {
    color: black;
}

.row #perfil a:hover {
    color:  #1F487E;
}

.row #perfil a h4{
    padding-left: 45%;
    padding-top: 35%;

}



/* Perfil */
#perfil div.list-group h4{
 text-align: center;
 color: #1F487E;
}

#perfil .list-group-item {
    background-color: white;
    border: 1px solid #1F487E;
    color:  #1F487E;
}

a.list-group-item.feed {
 color:  black; 
}

a.list-group-item.feed:hover {
 color:  #1F487E;   
}

.row  a h4{
   padding-left:6%;
   padding-top: 17%;
}

img {
    float: left;
    max-width: 18%;
}

#topo p {
    text-align: center;
}



/* Feed */




/* Series */
.container-fluid #series .list-group-item {
    background-color: white;
    border: 1px solid #1F487E;
    color:  #1F487E;
}

.container-fluid #series .list-group-item:hover {
    background-color: #375A7F;
    color: white;
}

.container-fluid #series #btn {
    background-color: #375A7F;
    color: white;
    border-top: 1px solid #5D98D8;
}

.container-fluid #series #btn:hover {
    background-color: #5D98D8;
    border: 1px solid #375A7F;
    color: white;
}

/* Página Perfil de Cada Série */
.row #perfilSerie {
    background-color: white;
    margin-bottom: -15%;
    border: 1px solid  #1F487E;
}

div#perfilSerie.col-sm-3 img{
    float: left;    
    max-width: 40%;
    padding-top: 5%;
}

div#perfilSerie.col-sm-3  a h4 {
    padding-top: 17%;
    text-align: center;
}

div#perfilSerie.col-sm-3 hr {
    width: 50%;
}

div#perfilSerie.col-sm-3 .list-group {
    padding-top: 10%;
}

div#perfilSerie.col-sm-3 .list-group h4 {
    text-align: center;
}

select#selNota.form-control {
  height: 30px; padding: 5px 15px;
}



/*
Cores

https://www.w3schools.com/colors/colors_picker.asp

*/



