/* Coolors Exported Palette - coolors.co/f2f2f2-2f2f2f-375a7f-1f487e-5d98d8 */

/* HSL */
$color1: hsla(0%, 0%, 95%, 1);
$color2: hsla(0%, 0%, 18%, 1);
$color3: hsla(211%, 40%, 36%, 1);
$color4: hsla(214%, 61%, 31%, 1);
$color5: hsla(211%, 61%, 61%, 1);

/* RGB */
$color1: rgba(242, 242, 242, 1);
$color2: rgba(47, 47, 47, 1);
$color3: rgba(55, 90, 127, 1);
$color4: rgba(31, 72, 126, 1);
$color5: rgba(93, 152, 216, 1);